streamlit == 0.87.0
pandas == 1.3.2
pymysql
numpy
pyecharts
lightgbm
streamlit_extras
st_pages
markdownlit
openai
streamlit_chat
scapy
hashlib
dateutil
infobip-api-python-sdk
infobip-api-python-client
